html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	color: #fff;
	background: #272c34;
	border-radius: 0.2rem;
}
.circle {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	overflow: hidden;
	animation-name: dark;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}
.sky {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 124px;
	background: #7ddffc;
}
.sand {
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 56px;
	background: #f0de75;
}
.sun {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -60px;
	width: 155px;
	height: 30px;
	transform: rotate(30deg);
	transform-origin: bottom right;
	animation: move-sun 6s infinite linear;
}
.sun::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	box-shadow: 0 0 5px 4px yellow;
	border-radius: 50%;
	background-color: yellow;
}
.pyramide {
	position: absolute;
	width: 110px;
	height: 65px;
	bottom: 56px;
	left: calc(50% - 55px);
}
.pyramide::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	animation: pyramide-left 6s infinite;
	border-bottom: 65px solid #fff;
	border-left: 56px solid transparent;
}
.pyramide::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	right: 0;
	animation: pyramide-right 6s infinite;
	border-bottom: 65px solid #eee;
	border-right: 55px solid transparent;
}
.shadow {
	position: absolute;
	z-index: 2;
	bottom: 26px;
	left: -80px;
	height: 30px;
	width: 360px;
	background: rgba(0, 0, 0, 0.2);
	transform-origin: 50% 0%;
	animation: shadow 6s linear infinite;
	clip-path: polygon(111px 0%, 225px 0%, 100% 100%);
}
@keyframes move-sun {
	from {
		transform: rotate(30deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes dark {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}
}

@keyframes shadow {
	0% {
		clip-path: polygon(111px 0%, 225px 0%, 100% 100%);
	}
	65% {
		clip-path: polygon(111px 0%, 225px 0%, 0% 100%);
	}
	85% {
		clip-path: polygon(111px 0%, 225px 0%, 0% 100%);
	}
	90% {
		clip-path: polygon(111px 0%, 225px 0%, 100% 100%);
	}
}
@keyframes pyramide-right {
	0% {
		border-bottom: 65px solid #eee;
	}
	25% {
		border-bottom: 65px solid #ddd;
	}
	45% {
		border-bottom: 65px solid #fff;
	}
	80% {
		border-bottom: 65px solid #fff;
	}
	90% {
		border-bottom: 65px solid #eee;
	}
}
@keyframes pyramide-left {
	0% {
		border-bottom: 65px solid #fff;
	}
	40% {
		border-bottom: 65px solid #fff;
	}
	45% {
		border-bottom: 65px solid #eee;
	}
	80% {
		border-bottom: 65px solid #ccc;
	}
}
